<body>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- Naziv-->
        <div class="fadeIn first">
            <h2> ANKETA </h2>
       </div>

       <!-- Login Form -->
        <form action="/profesor/login" method="get">
            <input type="submit" class="fadeIn fourth" value="Log In As Professor">
         </form>

        <form action="/student/login" method="get">
            <input type="submit" class="fadeIn fourth" value="Log In As Student">
        </form>


    </div>
</div>


</body>